	<!-- Admin Header -->
	<%- include('./admin_header.ejs') %>

	<div class="container-fluid"> 
		
		<!-- Add Category -->
		<div class="row">
			<div class="col-12 col-md-3">

				<!-- Display Errors -->
				<% if (typeof errors !== 'undefined' ) { %>
					<% errors.forEach(function(error) { %>
						<div class="alert alert-danger">
							<%= error.msg %>
						</div>
					<%});%>
				<% } %>

			<!-- Display Messages -->
			<% if (messages.length > 0 ) { %>
				<div class="alert alert-success">
					<%= messages %>
				</div>
			<% } %>
				<!-- Add Category Title -->
				<h5 class="page-title">Add New Category</h5>
		
				<!--  Form -->
				<form autocomplete="off" action="/admin/categories/add-category" method="post">
					<!-- Name -->
					<div class="form-group">
						<input type="text" class="form-control" name="name" value="<%= name %>" placeholder="Name *">
					</div>

					<!-- Submit Button -->
					<button type="submit" class="btn btn-primary btn-sm">Add Category</button>
				</form>
			</div>
		</div>
		
		<br>
		<!-- Page Title -->
		<h2 class="page-title">Categories</h2>

		<!-- Categories Table -->
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-folder-open"></i>&nbsp;Categories</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered sortable" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Name</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<% categories.forEach(function(category) { %>
									<tr id="id_<%= category.id %>" class="<%= category.slug %>">
										<td><%= category.name %></td>
										<td><a href="/admin/categories/edit-category/<%= category._id %>">Edit</a></td>
										<td><a class="confirmDeletion" href="/admin/categories/delete-category/<%= category._id %>">Delete</a></td>
									</tr>
								<% }); %>
							</tbody>
						</table>
					</div>
				</div>
			<div class="card-footer small text-muted">There are <%= categories.length%> categories.</div>
		</div>

	</div> <!-- End Container -->

	<!-- Footer & Scripts -->
	<%- include('./admin_footer.ejs') %>

	<!-- Sortable Tbody -->
	<script>
	$( function() {
    	$('tbody').sortable({
    		placeholder: "ui-state-highlight",
    		update: function() {
    			var ids = $('tbody').sortable("serialize");
    			var url = "/admin/categories/reorder-categories";

    			$.post(url, ids);
    		}
   		});
  	});
    </script>	

</body> 
</html> <!-- End HTML Document -->

