	<!-- Admin Header -->
	<%- include('./admin_header.ejs') %>

	<div class="container-fluid"> <!-- Open Container Fluid  -->

		<!-- Display Errors -->
		<% if (typeof errors !== 'undefined' ) { %>
			<% errors.forEach(function(error) { %>
				<div class="alert alert-danger">
					<%= error.msg %>
				</div>
			<%});%>
		<% } %>

		<!-- Display Messages -->
		<% if (messages.length > 0 ) { %>
			<div class="alert alert-danger">
				<%= messages %>
			</div>
		<% } %>

		<!-- Page Title -->
		<h2 class="page-title">Edit Product</h2>
			
		<!--  Edit Product Form -->
		<form autocomplete="off" action="/admin/products/edit-product/<%= id %>" method="post" enctype="multipart/form-data">
			<!-- Product Name Row -->
			<div class="row text-muted">
				<div class="col-12 col-lg-4">
					<div class="form-group">
						<label for="name">Product Name <span class="required-asterik">*</span></label>
						<input class="form-control" type="text" name="name" value="<%= name %>">
					</div>
				</div>
			</div> 
			<!-- Category -->
			<div class="row text-muted">
				<div class="col-12 col-lg-2 form-group">
					<label for="category">Category <span class="required-asterik">*</span></label>
					<select name="category" class="form-control">
						<% categories.forEach(function(cat) { %>
							<option value="<%= cat.slug %>"
								<% if (cat.slug == category) { %>
									selected="selected"
								<% } %>
								><%= cat.name %>
							</option>
						<% }); %>
					</select>
				</div>
			</div>
			<!-- Short Description Row -->
			<div class="row text-muted">
				<div class="col-12 col-lg-7">
					<div class="form-group">
						<label for="shortDescription">Short Description <span class="required-asterik">*</span></label>
						<textarea cols="20" rows="4" class="form-control" name="shortDescription" placeholder="300 Character Max" maxlength="300"><%= shortDescription %></textarea> 
					</div>
				</div>
			</div>
			<!-- Image -->
			<div class="form-group">
				<label for=""><b>Current Image</b></span></label>
				<p>
					<% if (image == '') { %>
						<img id="productImage" src="/images/noimage.png" alt="">
					<% } else { %>
						<img id="productImage" src="/product_images/<%= id %>/<%= image %>" alt="">
					<% } %>
				</p>
				<p><%= image %></p>
			</div>
			<div class="form-group">
				<input class="form-control" type="file" name="image" id="img">
				<img src="#" id="imgPreview">
			</div>

			<!-- Hide / Show Buttons -->
			<hr>
			<div class="row">
				<div class="col-12">
					<button class="btn btn-outline-primary btn-sm generalButton hideShowButton"><i class="fas fa-wrench"></i>&nbsp;General</button>
					<button class="btn btn-outline-primary btn-sm shippingButton hideShowButton"><i class="fas fa-truck"></i>&nbsp;Shipping</button>
					<button class="btn btn-outline-primary btn-sm inventoryButton hideShowButton"><i class="fas fa-archive"></i>&nbsp;Inventory</button>
					<br>
				</div>
			</div>
			<br>
			
			<!-- **** General Section **** -->
			<div class="generalSection text-muted">
				<div class="col-12 col-lg-7">
					<!-- Price -->
					<div class="form-group row">
						<label for="price" class="col-12 col-lg-2 col-form-label"><small>Price</small></label>
						<div class="col-12 col-lg-3">
							<input class="form-control form-control-sm" id="price" type="text" name="price" value="<%= price %>">
						</div>
					</div>
					<!-- Sku -->
					<div class="form-group row">
						<label for="sku" class="col-12 col-lg-2 col-form-label"><small>Sku</small></label>
						<div class="col-12 col-lg-4">
							<input class="form-control form-control-sm" id="sku" type="text" name="sku" value="<%= sku %>">
						</div>
					</div>
					<!-- Website -->
					<div class="form-group row">
						<label for="website" class="col-12 col-lg-2 col-form-label"><small>Website</small></label>
						<div class="col-12 col-lg-7">
							<input class="form-control form-control-sm" id="website" type="text" name="website" value="<%= website %>">
						</div>
					</div>
					<!-- Facebook -->
					<div class="form-group row">
						<label for="facebook" class="col-12 col-lg-2 col-form-label"><small>Facebook</small></label>
						<div class="col-12 col-lg-7">
							<input class="form-control form-control-sm" id="facebook" type="text" name="facebook" value="<%= facebook %>">
						</div>
					</div>
					<!-- Description -->
					<div class="form-group row">
						<label for="description" class="col-2 col-lg-2 col-form-label"><small>Description</small></label>
						<div class="col-12 col-lg-10">
							<textarea cols="20" rows="5" class="form-control" name="description" placeholder="Full Description"><%= description %></textarea> 
						</div>
					</div>
				</div>
			</div>

			<!-- **** Shipping Row **** -->
			<div class="shippingSection text-muted">
				<div class="col-12">
					<!-- Weight Row -->
					<div class="form-group row">
						<label for="weight" class="col-12 col-lg-2 col-form-label"><small>Weight (lbs)</small></label>
						<div class="col-12 col-lg-3">
							<input class="form-control form-control-sm" type="text" id="weight" name="weight" value="<%= weight %>">
						</div>
					</div>
					<!-- Dimensions Row -->
					<div class="form-group row">
						<label for="" class="col-12 col-lg-2 col-form-label"><small>Dimensions (in)</small></label>
						<!-- Length -->
						<div class="col-12 col-lg-1">
							<input class="form-control form-control-sm" type="text" name="length" value="<%= length %>" placeholder="Length">
						</div>
						<!-- Width -->
						<div class="col-12 col-lg-1">
							<input class="form-control form-control-sm" type="text" name="width" value="<%= width %>" placeholder="Width">
						</div>
						<!-- Height -->
						<div class="col-12 col-lg-1">
							<input class="form-control form-control-sm" type="text" name="height" value="<%= height %>" placeholder="Height">
						</div>
					</div>
					<!-- Shipping Class -->
					<div class="form-group row">
						<label for="shippingClass" class="col-12 col-lg-2 col-form-label"><small>Shipping Class</small></label>
						<div class="col-12 col-lg-3">
							<select name="shippingClass" id="shippingClass" class="form-control form-control-sm">
								<option value="No Shipping Class">No Shipping Class</option>
							</select>
						</div>
					</div>
					<!-- HS Tariff Number -->
					<div class="form-group row">
						<label for="HSTariffNumber" class="col-12 col-lg-2 col-form-label"><small>HS Tariff Number</small></label>
						<div class="col-12 col-lg-3">
							<input class="form-control form-control-sm" type="text" id="HSTariffNumber" name="HSTariffNumber" value="<%= HSTariffNumber %>" placeholder="Harmonized System">
						</div>
					</div>
					<!-- Country of Manufacture -->
					<div class="form-group row">
						<label for="countryOfManufacture" class="col-12 col-lg-2 col-form-label"><small>Country of Manufacture</small></label>
						<div class="col-12 col-lg-3">
							<input class="form-control form-control-sm" type="text" id="countryOfManufacture" name="countryOfManufacture" value="<%= countryOfManufacture %>">
						</div>
					</div>
					<!-- Special Services -->
					<div class="form-group row">
						<label for="specialServices" class="col-12 col-lg-2 col-form-label"><small>Special Services (FedEx)</small></label>
						<div class="col-12 col-lg-3">
							<select name="specialServices" id="specialServices" class="form-control form-control-sm">
								<option value="Alcohol">ALCOHOL</option>
							</select>
						</div>
					</div>
					<!-- Alcohol Recipient -->
					<div class="form-group row">
						<label for="alcoholRecipient" class="col-12 col-lg-2 col-form-label"><small>Alcohol Recipient (FedEx)</small></label>
						<div class="col-12 col-lg-3">
							<select name="alcoholRecipient" class="form-control form-control-sm">
								<option value="Select"
									<% if (alcoholRecipient == "Select") { %>
										selected="selected"
									<% } %>
									>Select
								</option>
								<option value="CONSUMER"
									<% if (alcoholRecipient == "CONSUMER") { %>
										selected="selected"
									<% } %>
									>CONSUMER
								</option>
								<option value="LICENSEE"
									<% if (alcoholRecipient == "LICENSEE") { %>
										selected="selected"
									<% } %>
									>LICENSEE
								</option>
							</select>
						</div>
					</div>
					<!-- Dangerous Goods Regulation -->
					<div class="form-group row">
						<label for="dangerousGoodsRegulation" class="col-12 col-lg-2 col-form-label"><small>Dangerous Goods Regulation (FexEx)</small></label>
						<div class="col-12 col-lg-3">
							<select name="dangerousGoodsRegulation" class="form-control form-control-sm">
								<option value="DOT"
									<% if (dangerousGoodsRegulation == "DOT") { %>
										selected="selected"
									<% } %>
									>DOT
								</option>
								<option value="ADR"
									<% if (dangerousGoodsRegulation == "ADR") { %>
										selected="selected"
									<% } %>
									>ADR
								</option>
								<option value="IATA"
									<% if (dangerousGoodsRegulation == "IATA") { %>
										selected="selected"
									<% } %>
									>IATA
								</option>
								<option value="ORMD"
									<% if (dangerousGoodsRegulation == "ORMD") { %>
										selected="selected"
									<% } %>
									>ORMD
								</option>
							</select>
						</div>
					</div>
					<!-- Dangerous Goods Accessibility -->
					<div class="form-group row">
						<label for="dangerousGoodsAccessibility" class="col-12 col-lg-2 col-form-label"><small>Dangerous Goods Accessibility (FexEx)</small></label>
						<div class="col-12 col-lg-3">
							<select name="dangerousGoodsAccessibility" class="form-control form-control-sm">
								<option value="Inaccessible"
									<% if (dangerousGoodsAccessibility == "Inaccessible") { %>
										selected="selected"
									<% } %>
									>Inaccessible
								</option>
								<option value="Accessible"
									<% if (dangerousGoodsAccessibility == "Accessible") { %>
										selected="selected"
									<% } %>
									>Accessible
								</option>
							</select>
						</div>
					</div>
					<!-- Custom Declared Value -->
					<div class="form-group row">
						<label for="customDeclaredValue" class="col-12 col-lg-2 col-form-label"><small>Custom Declared Value</small></label>
						<div class="col-12 col-lg-3">
							<input class="form-control form-control-sm" type="text" id="customDeclaredValue" name="customDeclaredValue" value="<%= customDeclaredValue %>">
						</div>
					</div>
					<!-- Freight Class -->
					<div class="form-group row">
						<label for="freightClass" class="col-12 col-lg-2 col-form-label"><small>Freight Class</small></label>
						<div class="col-12 col-lg-3">
							<select name="freightClass" class="form-control form-control-sm">
								<option value="None"
									<% if (freightClass == "None") { %>
										selected="selected"
									<% } %>
									>None
								</option>
								<option value="CLASS_050"
									<% if (freightClass == "CLASS_050") { %>
										selected="selected"
									<% } %>
									>CLASS_050
								</option>
								<option value="CLASS_055"
									<% if (freightClass == "CLASS_055") { %>
										selected="selected"
									<% } %>
									>CLASS_055
								</option>
								<option value="CLASS_060"
									<% if (freightClass == "CLASS_060") { %>
										selected="selected"
									<% } %>
									>CLASS_060
								</option>
								<option value="CLASS_065"
									<% if (freightClass == "CLASS_065") { %>
										selected="selected"
									<% } %>
									>CLASS_065
								</option>
								<option value="CLASS_070"
									<% if (freightClass == "CLASS_070") { %>
										selected="selected"
									<% } %>
									>CLASS_070
								</option>
								<option value="CLASS_077_5"
									<% if (freightClass == "CLASS_077_5") { %>
										selected="selected"
									<% } %>
									>CLASS_077_5
								</option>
								<option value="CLASS_085"
									<% if (freightClass == "CLASS_085") { %>
										selected="selected"
									<% } %>
									>CLASS_085
								</option>
								<option value="CLASS_092_5"
									<% if (freightClass == "CLASS_092_5") { %>
										selected="selected"
									<% } %>
									>CLASS_092_5
								</option>
								<option value="CLASS_100"
									<% if (freightClass == "CLASS_100") { %>
										selected="selected"
									<% } %>
									>CLASS_100
								</option>
								<option value="CLASS_110"
									<% if (freightClass == "CLASS_110") { %>
										selected="selected"
									<% } %>
									>CLASS_110
								</option>
								<option value="CLASS_125"
									<% if (freightClass == "CLASS_125") { %>
										selected="selected"
									<% } %>
									>CLASS_125
								</option>
								<option value="CLASS_150"
									<% if (freightClass == "CLASS_150") { %>
										selected="selected"
									<% } %>
									>CLASS_150
								</option>
								<option value="CLASS_175"
									<% if (freightClass == "CLASS_175") { %>
										selected="selected"
									<% } %>
									>CLASS_175
								</option>
								<option value="CLASS_200"
									<% if (freightClass == "CLASS_200") { %>
										selected="selected"
									<% } %>
									>CLASS_200
								</option>
								<option value="CLASS_250"
									<% if (freightClass == "CLASS_250") { %>
										selected="selected"
									<% } %>
									>CLASS_250
								</option>
								<option value="CLASS_300"
									<% if (freightClass == "CLASS_300") { %>
										selected="selected"
									<% } %>
									>CLASS_300
								</option>
								<option value="CLASS_400"
									<% if (freightClass == "CLASS_400") { %>
										selected="selected"
									<% } %>
									>CLASS_400
								</option>
								<option value="CLASS_500"
									<% if (freightClass == "CLASS_500") { %>
										selected="selected"
									<% } %>
									>CLASS_500
								</option>
							</select>
						</div>
					</div>
					<!-- Pre-Packed Product -->
					<div class="form-group row">
						<label for="prePackedProduct" class="col-12 col-lg-2 col-form-label"><small>Pre-Packed Product</small></label>
						<div class="col-12 col-lg-3">
							<select name="prePackedProduct" class="form-control form-control-sm">
								<option value="true"
									<% if (prePackedProduct === true) { %>
									selected="selected"
									<% } %>
									>True
								</option>
								<option value="false"
									<% if (prePackedProduct === false) { %>
									selected="selected"
									<% } %>
									>False
								</option>
							</select>
						</div>
					</div>
					<!-- Non-Standard Product -->
					<div class="form-group row">
						<label for="nonStandardProduct" class="col-12 col-lg-2 col-form-label"><small>Non-Standard Product</small></label>
						<div class="col-12 col-lg-3">
							<select name="nonStandardProduct" class="form-control form-control-sm">
								<option value="true"
									<% if (nonStandardProduct === true) { %>
									selected="selected"
									<% } %>
									>True
								</option>
								<option value="false"
									<% if (nonStandardProduct === false) { %>
									selected="selected"
									<% } %>
									>False
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<!-- *** Inventory Section *** -->
			<div class="inventorySection text-muted">
				<div class="col-12 col-lg-6">
					<!-- Stock Status -->
					<div class="form-group row">
						<label for="stockStatus" class="col-12 col-lg-2 col-form-label"><small>Stock Status</small></label>
						<div class="col-12 col-lg-4">
							<select name="stockStatus" class="form-control form-control-sm">
								<option value="In Stock"
									<% if (stockStatus == "In Stock") { %>
										selected="selected"
									<% } %>
									>In Stock
								</option>
								<option value="Out of Stock"
										<% if (stockStatus == "Out of Stock") { %>
										selected="selected"
									<% } %>
									>Out of Stock
								</option>
								<option value="On Backorder"
										<% if (stockStatus == "On Backorder") { %>
										selected="selected"
									<% } %>
									>On Backorder
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<input type="hidden" name="pimage" value="<%= image %>">
			<!-- Submit Button -->
			<button type="submit" class="btn btn-primary">Update</button>
		</form>

		<!-- Gallery Images -->
		<hr>
		<h3 class="page-header">Gallery</h3>

		<ul class="gallery">
			<% galleryImages.forEach(function(image) { %>
				<% if (image != "thumbs") { %>
					<li>
						<img class="productImage" src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" alt="" >&nbsp;
						<a class="confirmDeletion" href="/admin/products/delete-image/<%= image %>?id=<%= id %>">Delete</a>
					</li>
				<% } %>
			<% }); %>
		</ul>

		<form class="dropzone" id="dropzoneForm" action="/admin/products/product-gallery/<%= id %>" method="post" enctype="multipart/form-data">
			<div class="fallback">
				<input type="file" name="file" multiple >
				<input type="submit" value="Upload" >
			</div>
		</form>
		

	</div> <!-- End Container Fluid -->

	<!-- Footer & Scripts -->
	<%- include('./admin_footer.ejs') %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

	<script>
    	<!-- Preview Image -->
    	function readURL(input) {
    		if (input.files && input.files[0]) {
    			var reader = new FileReader();
	    		reader.onload = function(e) {
	    			$('#imgPreview').attr('src', e.target.result).width(100).height(100);
	    		}
    			reader.readAsDataURL(input.files[0]);
    		}
    	}
    	$('#img').change(function() {
    		readURL(this);
    	});

    	// Dropzone 
    	Dropzone.options.dropzoneForm = {
    		acceptedFiles: "image/*",
    		init: function() {
    			this.on("queuecomplete", function(file) {
    				setTimeout(function() {
    					location.reload()
    				}, 1000);
    			});
    		}
    	}
    </script>

</body> 
</html> <!-- End HTML Document