	<!-- Admin Header -->
	<%- include('./admin_header.ejs') %>

	<div class="container-fluid"> <!-- Open Container Fluid  -->

		<!-- Display Messages -->
			<% if (messages.length > 0 ) { %>
				<div class="alert alert-success">
					<%= messages %>
				</div>
			<% } %>

		<!-- Page Title -->
		<h2 class="page-title">Orders</h2>
		
		<!-- Orders Table -->
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-shopping-cart"></i>&nbsp;Orders</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Date</th>
									<th>Customer</th>
									<th>Email</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<% orders.forEach(function(order) { %>
									<tr>
										<td><%= order.date %></td>
										<td><%= order.firstName %> <%= order.lastName %></td>
										<td><%= order.email %></td>
										<td><a href="/admin/orders/edit-order/<%= order._id %>">Edit</a></td>
										<td><a class="confirmDeletion" href="/admin/orders/delete-order/<%= order._id %>">Delete</a></td>
									</tr>
								<% }); %>
							</tbody>
						</table>
					</div>
				</div>
			<div class="card-footer small text-muted">There are <%= orders.length%> orders.</div>
		</div>

	</div> <!-- End Container Fluid -->

	<!-- Footer & Scripts -->
	<%- include('./admin_footer.ejs') %>

</body> 
</html> <!-- End HTML Document -->

