<!-- Header -->
	<% include partials/header.ejs %>
 	
 	<!-- Brands Header Image -->
    <header class="checkout-page">
     	<div class="container">
     	</div>
    </header>

    <!-- Display Errors -->
	<div class="container messages-container">
		<% if (typeof errors !== 'undefined' ) { %>
			<% errors.forEach(function(error) { %>
				<div class="alert alert-danger">
					<%= error.msg %>
				</div>
			<%});%>
		<% } %>
	</div>
	
	<section class="checkout-section">
		<div class="container">
			<form action="/cart/checkout/pay" method="post">
				<div class="row text-muted">
					<div class="col-12 col-lg-6">
						<!-- First Name -->
					  	<div class="form-group">
						    <label for="firstName">First Name <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= firstName %>">
					  	</div>
					  	<!-- Last Name -->
					  	<div class="form-group">
						    <label for="lastName">Last Name <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="lastName" name="lastName" value="<%= lastName %>">
					  	</div>
					  	<!-- Email -->
					  	<div class="form-group">
						    <label for="email">Email <span class="required-asterik">*</span></label>
						    <input type="email" class="form-control" id="email" name="email" value="<%= email %>">
					  	</div>
					  	<!-- Phone -->
					  	<div class="form-group">
						    <label for="phone">Phone <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="phone" name="phone" value="<%= phone %>">
					  	</div>
					  	<!-- Company -->
					  	<div class="form-group">
						    <label for="company">Company Name (Optional)</label>
						    <input type="text" class="form-control" id="company" name="company" value="<%= company %>">
					  	</div>
					  	<!-- Country -->
					  	<div class="form-group">
						    <label for="country">Country <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="country" name="country" value="United States (US)" readonly="true">
					  	</div>
					  	<!-- Address -->
					  	<div class="form-group">
						    <label for="address">Street Address <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="address" name="address" value="<%= address %>" placeholder="House Number and Street Name">
						    <br>
						    <input type="text" class="form-control" id="unitNumber" name="unitNumber" value="<%= unitNumber %>" placeholder="Apartment, Unit, Suite, etc. (optional)">
					  	</div>
					  	<!-- City -->
					  	<div class="form-group">
						    <label for="city">Town / City <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="city" name="city" value="<%= city %>">
					  	</div>
					  	<!-- State -->
					  	<div class="form-group">
					    <label for="state">State <span class="required-asterik">*</span></label>
						    <select class="form-control" id="state" name="state">
    							<% include partials/states.ejs %>     
						    </select>
					  	</div>
					  	<!-- Zip -->
					  	<div class="form-group">
						    <label for="zip">Zip <span class="required-asterik">*</span></label>
						    <input type="text" class="form-control" id="zip" name="zip" value="<%= zip %>">
					  	</div>
					</div>
				</div>
				<br>
				<!-- Order Summary -->
				<div class="row">
					<div class="col-12">
						<h3>Your Order</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th width="30%">Products</th>
									<th width="70%">Price</th>
								</tr>
							</thead>
							<tbody>
								<% var total = 0; %>
								<% var handlingFee = 10.00; %>
								<% cart.forEach(function(product) { %>
									<% var subtotal = parseFloat(product.qty * product.price).toFixed(2) %>
									<% total += +subtotal %>
										<tr>
											<td><%= product.name %>&nbsp; x <%= product.qty %></td>
											<td>$<%= subtotal %></td>
										</tr>
								<% }); %>
							</tbody>
							<thead>
								<tr>
									<th>Subtotal</th>
									<th>$<%= parseFloat(total).toFixed(2) %></th>
								</tr>
								<tr>
									<th>Shipping</th>
									<th>FedEx API</th>
								</tr>
								<tr>
									<th>Handling Fee</th>
									<th>$<%= parseFloat(handlingFee).toFixed(2) %></th>
								</tr>
								<tr>
									<th>Order Total</th>
									<th>$<%= parseFloat(total + handlingFee).toFixed(2) %></th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Proceed to PayPal</button>				
			</form>
		</div>
	</section>

	<!-- Footer & Scripts -->
    <% include partials/footer.ejs %>   

</body>
</html> <!-- End Html